<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="C:\Program Files\Siemens\Automation\Portal V21\Bin\PublicAPI;C:\Program Files\Siemens\Automation\Portal V21\PublicAPI\V21" />
    </assemblyBinding>
  </runtime>
</configuration>